doctype html
html.bg-background-dark.text-font-white(lang="ko-KR")
  include includes/head.pug
  body
    div#wrapper
      include includes/header.pug
      main.mb-auto
        div.border-b.border-gray-400.py-1
          h2.text-5xl.font-bold="소개"
          p="반갑습니다. 웹 프론트엔드 개발자 Ben입니다."
        div.pt-8
          h3.text-2xl.font-bold="SNS"
          ul
            li
              a(href="https://github.com/benkim077" target="_blank")= "Github"
      include includes/footer.pug