include includes/locals.pug

doctype html
html(lang="ko-KR")
  include includes/head.pug
  body
    include includes/header.pug
    //- TODO: DB에 있는 내용을 가져와서 보여준다.
    h2= pageTitle
    ul
      each post in posts
        li
          a(href=post.title)
            h3= post.title
            p= post.summary
    include includes/footer.pug